{{ attach_library('classy/node') }}

<a href="{{ url }}">
    <div class="flag flag-red">Actu AEE</div>
    <img src="{{ file_url(node.field_image.entity.fileuri) }}" alt="">
    <p>{{ label }}</p>
    <span class="date">{{ date }}</span>
</a>
