<section id="landing">
    <h1 id="title">
        <span class="txt-orange">A</span>ssociation des <span class="txt-orange">É</span>lèves de l'<span class="txt-orange">E</span>NSSAT
    </h1>
    <nav>
        <ul>
            <li><a href="categories.html">LES ACTUS</a></li>
            <li><a href="clubs.html">LES CLUBS</a></li>
            <li><a href="#">calendrier</a></li>
            <li><a href="#">Infos pratiques</a></li>
            <li><a href="login.html" class="txt-grey">Espace adherent</a></li>
        </ul>
    </nav>
</section>

<div id="wrapper" class="homepage">
    <header>
        <img src="./themes/os_base/imgs/LogoAEE-300.png" alt="">
        <nav>
            <ul>
                <li><a href="index.html">Accueil</a></li>
                <li><a href="categories.html">LES ACTUS</a></li>
                <li><a href="clubs.html">LES CLUBS</a></li>
                <li><a href="#">calendrier</a></li>
                <li><a href="#">Infos pratiques</a></li>
                <li><a href="login.html">Espace adherent</a></li>
            </ul>
        </nav>
    </header>

    <section id="presentation">

    </section>

    <section id="actus">
        <div class="centerDiv">
            <h2>Toute l'actualité</h2>
            <div class="content col-lg-{{ page.main_content_width }} col-md-{{ page.main_content_width }} col-sm-12 col-xs-12">
              {{ page.highlighted }}

              {{ tabs }}

               {{ title_prefix }}
                {% if title %}
                  <h2>{{ title }}</h2>
                {% endif %}
                {{ title_suffix }}

              {% if action_links %}
                <nav class="action-links">{{ action_links }}</nav>
              {% endif %}
              <div class="test_class">
              {{ page.content }}
              </div>
              {{ feed_icons }}
            </div>
            <div id="articles">
                <article class="grid-item">
                    <a href="article.html">
                        <div class="flag flag-red">Actu AEE</div>
                        <img src="./themes/os_base/imgs/background.jpg" alt="">
                        <p>Soirée déguisée le 25 Septembre à la K'Fet</p>
                        <span class="date">02 septembre 2017</span>
                    </a>
                </article>

                <article class="grid-item">
                    <a href="article.html">
                        <div class="flag flag-green">Actu AEE</div>
                        <img src="./themes/os_base/imgs/oldlogo.jpg" alt="">
                        <p>Les nouveaux goodies de l'AEE sont en pré-commande !</p>
                        <span class="date">02 septembre 2017</span>
                    </a>
                </article>

                <article class="grid-item">
                    <a href="article.html">
                        <div class="flag flag-red">Actu AEE</div>
                        <div class="flag flag-red">Actu AEE</div>
                        <img src="./themes/os_base/imgs/TOSS.jpg" alt="">
                        <p>Retour sur la participation de l'ENSSAT au TOSS 2017 !</p>
                        <span class="date">02 septembre 2017</span>
                    </a>
                </article>

                <article class="grid-item">
                    <a href="article.html">
                        <div class="flag flag-green">Actu AEE</div>
                        <img src="./themes/os_base/imgs/background.jpg" alt="">
                        <p>Soirée déguisée le 25 Septembre à la K'Fet</p>
                        <span class="date">02 septembre 2017</span>
                    </a>
                </article>

                <article class="grid-item">
                    <a href="article.html">
                        <div class="flag flag-red">Actu AEE</div>
                        <img src="./themes/os_base/imgs/background.jpg" alt="">
                        <p>Soirée déguisée le 25 Septembre à la K'Fet</p>
                        <span class="date">02 septembre 2017</span>
                    </a>
                </article>

                <article class="grid-item">
                    <a href="article.html">
                        <div class="flag flag-red">Actu AEE</div>
                        <img src="./themes/os_base/imgs/background.jpg" alt="">
                        <p>Soirée déguisée le 25 Septembre à la K'Fet</p>
                        <span class="date">02 septembre 2017</span>
                    </a>
                </article>

                <article class="grid-item">
                    <a href="article.html">
                        <div class="flag flag-red">Actu AEE</div>
                        <img src="./themes/os_base/imgs/oldlogo.jpg" alt="">
                        <p>Les nouveaux goodies de l'AEE sont en pré-commande !</p>
                        <span class="date">02 septembre 2017</span>
                    </a>
                </article>

                <article class="grid-item">
                    <a href="article.html">
                        <div class="flag flag-red">Actu AEE</div>
                        <img src="./themes/os_base/imgs/TOSS.jpg" alt="">
                        <p>Retour sur la participation de l'ENSSAT au TOSS 2017 !</p>
                        <span class="date">02 septembre 2017</span>
                    </a>
                </article>

                <article class="grid-item">
                    <a href="article.html">
                        <div class="flag flag-red">Actu AEE</div>
                        <img src="./themes/os_base/imgs/background.jpg" alt="">
                        <p>Soirée déguisée le 25 Septembre à la K'Fet</p>
                        <span class="date">02 septembre 2017</span>
                    </a>
                </article>

                <article class="grid-item">
                    <a href="article.html">
                        <div class="flag flag-red">Actu AEE</div>
                        <img src="./themes/os_base/imgs/background.jpg" alt="">
                        <p>Soirée déguisée le 25 Septembre à la K'Fet</p>
                        <span class="date">02 septembre 2017</span>
                    </a>
                </article>

                <article class="grid-item">
                    <a href="article.html">
                        <div class="flag flag-red">Actu AEE</div>
                        <img src="./themes/os_base/imgs/background.jpg" alt="">
                        <p>Soirée déguisée le 25 Septembre à la K'Fet</p>
                        <span class="date">02 septembre 2017</span>
                    </a>
                </article>

                <article class="grid-item">
                    <a href="article.html">
                        <div class="flag flag-green">Actu AEE</div>
                        <img src="./themes/os_base/imgs/oldlogo.jpg" alt="">
                        <p>Les nouveaux goodies de l'AEE sont en pré-commande !</p>
                        <span class="date">02 septembre 2017</span>
                    </a>
                </article>

                <article class="grid-item">
                    <a href="article.html">
                        <div class="flag flag-green">Actu AEE</div>
                        <img src="./themes/os_base/imgs/TOSS.jpg" alt="">
                        <p>Retour sur la participation de l'ENSSAT au TOSS 2017 !</p>
                        <span class="date">02 septembre 2017</span>
                    </a>
                </article>

                <article class="grid-item">
                    <a href="article.html">
                        <div class="flag flag-red">Actu AEE</div>
                        <img src="./themes/os_base/imgs/background.jpg" alt="">
                        <p>Soirée déguisée le 25 Septembre à la K'Fet</p>
                        <span class="date">02 septembre 2017</span>
                    </a>
                </article>

                <article class="grid-item">
                    <a href="article.html">
                        <div class="flag flag-green">Actu AEE</div>
                        <img src="./themes/os_base/imgs/background.jpg" alt="">
                        <p>Soirée déguisée le 25 Septembre à la K'Fet</p>
                        <span class="date">02 septembre 2017</span>
                    </a>
                </article>
            </div>

            <div class="buttons">
                <a href="" class="more-actus">Toute l'actu de l'AEE</a>
                <a href="" class="more-actus">Toute l'actu des clubs</a>
            </div>
        </div>
    </section>

    <section id="contact">
        <div class="centerDiv">
            <div class="map"></div>
            <div class="form">
                <h2>Nous contacter !</h2>
                <form action="">
                    <input type="text" placeholder="Quel est ton nom ?">
                    <input type="email" placeholder="Une adresse mail où te joindre ?">
                    <textarea name="" id="" cols="30" rows="20"></textarea>
                    <input type="submit">
                </form>
            </div>
        </div>
    </section>

    <footer>

    </footer>
</div>

<script type="text/javascript">
document.addEventListener("DOMContentLoaded", function(){
    var elem = document.querySelector('#articles');
    var msnry = new Masonry( elem, {
        itemSelector: '.grid-item',
        gutter: 10,
        horizontalOrder: true
    });

    //Sticky header
    //Work only for the homepage
    window.addEventListener("scroll", function(){
        var header             = document.querySelector('header');
        var presentation       = document.querySelector('#presentation');
        var headerBounds       = header.getBoundingClientRect();
        var presentationBounds = presentation.getBoundingClientRect();

        if(headerBounds.y < 0 || headerBounds.top < 0){
            header.setAttribute('class', 'sticky');
        }

        if(presentationBounds.y > 0 || presentationBounds.top > 0){
            header.setAttribute('class', 'detached');
        }
    });

});
</script>
