<div class="content col-lg-{{ page.main_content_width }} col-md-{{ page.main_content_width }} col-sm-12 col-xs-12">
  {{ page.highlighted }}

  {{ tabs }}

   {{ title_prefix }}
    {% if title %}
      <h2>{{ title }}</h2>
    {% endif %}
    {{ title_suffix }}

  {% if action_links %}
    <nav class="action-links">{{ action_links }}</nav>
  {% endif %}
  <div class="test_class">
  {{ page.content }}
  </div>
  {{ feed_icons }}
</div>
