<div id="wrapper" class="article">
    <header>
        <img src="../themes/os_base/imgs/LogoAEE-300.png" alt="">
        <nav>
            <ul>
                <li><a href="index.html">Accueil</a></li>
                <li><a href="categories.html">LES ACTUS</a></li>
                <li><a href="clubs.html">LES CLUBS</a></li>
                <li><a href="#">calendrier</a></li>
                <li><a href="#">Infos pratiques</a></li>
                <li><a href="login.html">Espace adherent</a></li>
            </ul>
        </nav>
    </header>

    <section role="main">
        <header>
            <img src="../themes/os_base/imgs/ploumanach.jpg" alt="" class="head">
        </header>

        <section class="content">
            <article>
                <div class="centerDiv">
                    {{ title_prefix }}
                    {% if not page %}
                      <h2{{ title_attributes }}>
                        <a href="{{ url }}" rel="bookmark">{{ label }}</a>
                      </h2>
                    {% endif %}
                    {{ title_suffix }}

                    {% if display_submitted %}
                      <footer class="node__meta">
                        {{ author_picture }}
                        <div{{ author_attributes.addClass('node__submitted') }}>
                          {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
                          {{ metadata }}
                        </div>
                      </footer>
                    {% endif %}

                    <div{{ content_attributes.addClass('node__content') }}>
                      {{ content }}
                    </div>
            </article>
            <aside>
                <div class="aside-part">
                    <form action="">
                        <input type="search">
                        <input type="submit">
                    </form>
                </div>


                <div class="aside-part">
                    <ul>
                        <li>Lorem</li>
                        <li>dolor</li>
                        <li>sit</li>
                        <li>amet</li>
                    </ul>
                </div>
            </aside>
        </section>
    </section>

    </div>
